* {
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(Roboto-Bold.ttf);
}
body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: roboto, Courier, monospace;
}

/* Sidebar */

.header {
    font-size: 0.8rem;
    position: relative;
    margin-bottom: -30px;
}

.header h1 {
    margin-left: 45px;
}

.header img{
    margin-right: 10px;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    position: absolute;
    display: inline;
    top: 4.5px;
}

.sidebar {
    background-color: #083D77;
    background-position: cover;
    flex: 1;
    color: white;
}

.nav1 div, .nav2 div {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: -20px;;
}
.nav1 img, .nav2 img{
    height: 15px;
    width: 20px;
    margin-right: 6px;
}

#idimg {
    height: 20px;
}

#messageimg {
    height: 14px;
}

#clockimg {
    height: 18px;
}

#people {
    height: 40px;
}
.navbar {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    gap: 35px;
}

.navbar p {
    font-size: 1.05rem;
}


/* Main Content */
.main-content {
    background-color: lightseagreen;
    background-position: cover;
    flex: 4;
    display: flex;
    flex-direction: column;
}

.searchheader {
    background-color: white;
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    grid-template-columns: 1.5fr 1fr;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-left: 20px;;
    gap: 10px;
}

.searchbar img {
    height: 20px;
    width: auto;
}

.searchbar button {
    padding-left: 300px;
    padding-right: 400px;
    padding-top: 25px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(227, 232, 239) ;
}

.search-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 55px;
    color: #083D77;
    font-family: roboto-bold;
}

.hi-profile {
    margin-left: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.hi-profile p {
    font-size: 0.8rem;
    color: #083D77;
    font-family: roboto-bold;
}

.hi-profile span {
    font-size: 1.4rem;
}

.header-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-right: 40px;
}

.header-buttons button{
    border: none;
    background-color: #083D77;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
}

.dashboard {
    background-color: rgb(227, 232, 239);
    flex: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2.5fr 1fr;
    overflow: auto;
    scroll-behavior: smooth;
    padding-bottom: 30px;

}


.projects {
    grid-row: 1 / 3;
}

.projects p {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 8px;

}
.project-tiles {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    color: #083D77;
}

.projects {
    margin-left: 5px;
}
.projects > p {
    color: #083D77;
    font-family: roboto-bold;
}

.project-tiles > div {
    border-left: 7px solid #DA4167;
    background-color: white;
    height: 150px;
    border-radius: 7px;
    overflow: auto;
}

.tile-title {
    font-family: roboto-bold;
    font-size: 1.1rem;
}

.tile-text {
    margin-left: 10px;
    margin-right: 20px;
}

.tile-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.announcements {
    display: grid;
    gap: 6px;
    grid-template-rows: 0.22fr 1fr;
    margin-right: 10px;
    margin-left: 10px;
}

.announcements > p {
    font-family: roboto-bold;
    margin-top: 20px;
    color: #083D77;
    margin-bottom: 0;
}

.announcement-content {
    background-color: white;
    border-radius: 7px;
    display: grid;
}

.announcement-content div {
    border-bottom: 1px solid #083D77;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#last-announcement {
    border: none;
}

.announcement-content p {
    font-size: 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
    color: #083D77;
}
.trending-profiles {
    background-color: white;
    border-radius: 7px;
    margin-right: 10px;
}

.announcement-content span {
    font-family: roboto-bold;
}

.trending {
    margin-right: 10px;
    margin-left: 10px;
    color: #083D77;
    display: grid;
    grid-template-rows: 0.22fr 1fr;
}

.trending > p {
    font-family: roboto-bold;
    margin-bottom: 5px;
}

.trending-profiles p {
    font-size: 0.8rem;
}

.trending-profiles div {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-profiles span {
    font-family: roboto-bold;
}


